{% extends "::layout.html.twig" %}
{% block title %}An Error Occurred: {{ status_text }}{% endblock %}

{% block body %}
<div class="row" id="errorPanel">
    <div class="col-xs-5">
        <img class="img-responsive pull-right" src="{{ app.request.basepath }}/images/404.png" alt="Error 404"/>
    </div>
    <div class="col-xs-6">
        <h1>Oops! An Error Occurred</h1>
        <h2>The server returned a "{{ status_code }} {{ status_text }}".<br>
        <small>Something is broken. Please let us know what you were doing when this error occurred.
            We will fix it as soon as possible. Sorry for any inconvenience caused.</small>
        </h2>
    </div>
</div>
{% endblock %}
