{% extends "MailsMailBundle::layout_admin.html.twig" %}
{% block title %}Interlocuteurs{% endblock %}
{% block mailsadmin_body %}

<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">Message flash : {{ flashMessage }}</div>
{% endfor %} 

<div class="tab-content">
    <div class="tab-pane fade in active adminTable" id="actors">

        {{ include("MailsContactBundle:Contact:bl_all_contact.html.twig") }}

        <a href="{{ path('mails_contact_add') }}"><u>Créer un nouvel interlocuteur</u></a>
    </div>
    
</div>
{% endblock %}
