{% extends "MailsMailBundle::layout_admin.html.twig" %}
{% block title %}Résultat de la recherche - Courriers reçus{% endblock %}
{% block mailsadmin_body %}

{#On defini nos variables depuis la session#}
{% set allmailreceivedByFilter, mail = app.session.get('allmailreceivedByFilter'), app.session.get('mail') %}
{#On efface tous nos attributs de session#}
{{ app.session.clear }}

<h1 class="text-center encadrer">Rappel des critères de filtrage</h1>
<div class="well">
    <ul>
        <li>Nombre de jours d'ancienneté du courrier : {{ mail.nbDaysBefore }} jour(s) et plus</li>
        <li>Réception : {% if mail.received == true %}OUI{% else %}NON{% endif %}</li>
        <li>Traitement : {% if mail.treated == true %}OUI{% else %}NON{% endif %}</li>
    </ul>
</div>

<h1 class="text-center encadrer">{{ block('title') }}</h1>

<div class="tab-content">
    <div class="tab-pane fade in active adminTable" id="allmailreceivedByFilter">
        {{ include("@mailreceived_filter_result_views/bl_mailreceived_filter_result.html.twig") }}
    </div>
</div>
{% endblock %}
