<table cellspacing=4 cellpadding=4 width=60%  class="table-view">
  <thead align="center" valign="middle" bgcolor="#A9A9A9">
    <tr>
      <th colspan="2">Informations concernant le courrier reçu</th>
    </tr>
  </thead>
    {{ include("MailsMailBundle:Mail:header_view_mailreceived.html.twig") }}
    {{ include("MailsMailBundle:Mail:infos_view_mailreceived.html.twig") }}
</table>