{% extends "MailsMailBundle::layout.html.twig" %}
{% block title %}{{ mail.objet }}{% endblock %}
{% block body %}

<h2>{{ mail.objet }}</h2>

<div class="table-responsive">
    {{ include("MailsMailBundle:Mail:table_view_mailsent.html.twig") }}
</div>  

{% endblock %}
