{% extends "MailsMailBundle::layout.html.twig" %}
{% block title %}{{ mail.objet }}{% endblock %}
{% block body %}

<h1 class="resize">{{ mail.objet }}</h1>

<div class="table-responsive">
    {{ include("@mailreceived_detail_views/table_view_mailreceived.html.twig") }}
</div> 
{% endblock %}
