{% if allMailsentByActor %}
    <a class="souligne" href="{{ path('mails_mailreceived_filter_actor', {'id': actor.id}) }}">Filtrer les courriers envoyés par <strong>{{ actor.name | title }}</strong></a>
        <div class="table-responsive">
            {{ include("@contact_mailsent_views/table_mailsent_contact.html.twig") }}
        </div>
{% else %}
   <div class="alert alert-warning">Aucun courrier n'a été envoyé par cet contact.</div>
{% endif %}
{% if app.user and is_granted('ROLE_ADMIN') %}<a class="souligne" href="{{ path('mails_mailsent_add') }}">Créer un nouveau courrier envoyé</a>{% endif %}
