{% extends "MailsMailBundle::layout.html.twig" %}
{% block title %}Accueil - {{ parent() }}{% endblock %}
{% block mailsmail_body %}
 
 <h2>Liste de tous les courriers envoyés et enregistrés</h2>

    {{ include("@mailsent_index_views/bl_index_mailsent.html.twig") }}

    <ul class="pagination">
      {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
      {% for p in range(1, nbPages) %}
        <li{% if p == page %} class="active"{% endif %}>
          <a href="{{ path('mails_mail_mailsent_index', {'page': p}) }}">{{ p }}</a>
        </li>
      {% endfor %}
    </ul>
{% endblock %}
