{% if mailsSentByActor %}
{% set couleur = 'red' %}
    {{ include('@admin_user_mailsent_views/bl_small_user_mailsent.html.twig') }}
{% else %}
    <div class="alert alert-warning">No mail sent found.</div>
{% endif %}