<table cellspacing=4 cellpadding=4 width=60%  class="table-view">
  <thead align="center" valign="middle" bgcolor="#A9A9A9">
    <tr> 
      <th colspan="2">Informations concernant le courrier envoyé</th>
    </tr>
  </thead>
    {{ include("@mailsent_detail_views/header_view_mailsent.html.twig") }}
    {{ include("@mailsent_detail_views/infos_view_mailsent.html.twig") }}
</table>