<table class="table table-hover table-condensed">
    <thead align="center" valign="middle" bgcolor="#A9A9A9">
        <tr>
            <th>Reference</th><th>Objet</th><th>Date d'enregistrement</th><th>Date envoi</th><th>Nbre pièces j.</th><th>Acc. reception</th><th></th>  
    </thead>
{% set fond = '#EFEFEF' %}
{% for mailsentFilterByUser in allMailsentFilterByUser %}
    
    {{ include("@user_mailsent_filter_result_views/row_user_mailsent_filter_result.html.twig") }}

    {% if fond == '#EFEFEF' %}{% set fond = '#DDD' %}{% else %}{% set fond = '#EFEFEF' %}{% endif %}
{% endfor %}
</table>
