{% extends "MailsMailBundle::layout.html.twig" %}
{% block title %}Supprimer un courrier reçu{% endblock %}
{% block mailsmail_body %}

  <h1>Supprimer un courrier reçu</h1>

  <p>Etes-vous certain de vouloir supprimer le courrier reçu "{{ mail.objet }}" ?</p>

  {# On met l'id du courrier dans la route de l'action du formulaire #}
  <form action="{{ path('mails_mailreceived_delete', { 'id': mail.id }) }}" method="post">
    <a class="souligne" href="{{ path('mails_mailreceived_detail', {'id': mail.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au courrier
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}
