{% if actors %}
   <div class="table-responsive">
      {{ include("@show_contact_views/table_contact.html.twig") }}
   </div>
{% else %}
  <div class="alert alert-warning">No actors found.</div>
{% endif %}