<table class="table table-hover table-condensed">
   <thead align="center" valign="middle" bgcolor="#A9A9A9">
       <tr>
           <th>Nom</th>
           <th></th>  
       </tr>
   </thead>
   {% set fond = '#EFEFEF' %}
   {% for actor in actors %}
   <tr bgcolor={{fond}} valign='top'>
       <td>{{ actor.name }}</td>
            <td>
                {% if actor.user == app.user %}{# Si l'user courant de l'appli est celui qui à crée l'acteur spécifié #}
                    {{ render(controller("MailsCoreBundle:Home:manageMails", {'editRoute': 'mails_contact_edit','detailRoute': null,
                    'deleteRoute': 'mails_contact_delete','id': actor.id,'var': actor,'type': 'actor',}))}}
                {% endif %}
            </td>
   </tr>
   {% if fond == '#EFEFEF' %}{% set fond = '#DDD' %}{% else %}{% set fond = '#EFEFEF' %}{% endif %}
   {% endfor %}
</table>
