{% if allMailsentByFilter %}
    <div class="alert alert-success">La liste ci-dessous correspond au résultat de la recherche !</div>

    <div class="table-responsive">
        {{ include("@mailsent_filter_result_views/table_mailsent_filter_result.html.twig") }}
    </div>
{% else %}
    <div class="alert alert-warning">Aucune donnée ne correspond à cette recherche !</div>
{% endif %}
       
{% if app.user and is_granted('ROLE_ADMIN') %}
    <a href="{{ path('mails_mailsent_add') }}"><u>Créer un nouveau courrier envoyé</u></a>
{% endif %}
