{% if allMailreceivedByUser %}
   <a href="{{ path('mails_mailreceived_filter_user', {'id': user.id}) }}"><u>Filtrer les courriers reçus par <b><i>{{ user.username | title }}</i></b></u></a>
        <div class="table-responsive">
            {{ include('@user_mailreceived_views/table_mailreceived_user.html.twig') }}
        </div>
{% else %}
  <div class="alert alert-warning">Aucun courrier n'a été reçu par cet utilisateur.</div>
{% endif %} 
{% if app.user and is_granted('ROLE_ADMIN') %}<a href="{{ path('mails_mailreceived_add') }}"><u>Créer un nouveau courrier reçu</u></a>{% endif %}