{% extends "MailsCoreBundle::layout.html.twig" %}
{% block title %}My workspace{% endblock %}
{% block body %}

  {% if app.user and is_granted("ROLE_ADMIN") %}
        <h2>Liste des courriers à valider par <i>{{ app.user.username | title }}</i></h2>
        <hr>

        {{ include("@show_latest_mails_views/listMail_admin.html.twig") }}

  {% endif %}

{% endblock %}