<div class="navbar-right">
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      Connecté en tant que <b><i>{{ app.user.username | title }}</i></b> - <u><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></u>
  {% else %}
     <u><a href="{{ path('fos_user_security_login') }}">Connexion</a></u>
  {% endif %}
</div>