<div style="float:right;">
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
     <p>Connecté en tant que <strong>{{ app.user.username | title }}</strong> - <a class="souligne" href="{{ path('fos_user_security_logout') }}">Déconnexion</a></p>
  {% else %}
    <p>
      <a class="souligne" href="{{ path('fos_user_security_login') }}">Connexion</a>
    </p>
  {% endif %}
</div>