{% extends "MailsCoreBundle::layout.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block body %}
    {{ include("MailsCoreBundle:Home:connexion.html.twig") }}
    
    {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">Message flash : {{ message }}</div>
    {% endfor %}

    {# On affiche tous les messages flash dont le nom est « warning » #}
    {% for message in app.session.flashbag.get('danger') %}
        <div class="alert alert-danger">Message flash : {{ message }}</div>
    {% endfor %}
    
    <h2>Liste des derniers courriers ajoutés par votre entreprise</h2>
    <hr>
        {{ render(controller("MailsMailBundle:Mail:showLatestMail", {'limit': 4, 'idCompany': app.user.company.id})) }}
{% endblock %}
