{% extends "MailsCoreBundle::layout.html.twig" %}
{% block title %}My workspace{% endblock %}
{% block body %}

  {% if app.user and is_granted("ROLE_SECRETAIRE") %}
          <h1>Liste des courriers à enregistrer par <em>{{ app.user.username | title }}</em></h1>
          <hr>
          {{ include("@show_latest_mails_views/listMail_secretary.html.twig") }}
  {% endif %}

{% endblock %}
