{% if mailsReceivedByActor %}
{% set couleur = 'red' %}
    {{ include('@admin_user_mailreceived_views/bl_small_user_mailreceived.html.twig') }}
{% else %}
    <div class="alert alert-warning">No mail received found.</div>
{% endif %}