<br/><span class="taille_label">Accusé de reception :</span> <span class="taille_infos">{% if mailReceivedByActor.received == true %}OUI{% else %}NON{% endif %}</span>
,<span class="taille_label"> Traitement :</span> <span class="taille_infos">{% if mailReceivedByActor.treated == true %}OUI{% else %}NON{% endif %}</span>
,<span class="taille_label"> Destinataire :</span> <span class="taille_infos"><strong>{{ mailReceivedByActor.mailreceived.user.username}}</strong></span>
,<span class="taille_label"> Expéditeur :</span> <span class="taille_infos"><strong>{{ mailReceivedByActor.mailreceived.actor.name}}</strong></span>
,<span class="taille_label"> Enregistrement :</span> <span class="taille_infos">{% if mailReceivedByActor.registred == true %}OUI{% else %}NON{% endif %}</span>
,<span class="taille_label"> Validation :</span> <span class="taille_infos">{% if mailReceivedByActor.validated == true %}OUI{% else %}NON{% endif %}</span>
,<span class="taille_label"> Nom secretaire :</span> <span class="taille_infos"><strong>{{ mailReceivedByActor.secretaire.username}}</strong></span>
