{% for mailReceivedByActor in mailsReceivedByActor %}
        <p>{{ include("MailsUserBundle:User:infos_user_mailreceived.html.twig") }}</p>  
        <p>{{ include("MailsUserBundle:User:actions_user_mailreceived.html.twig") }}</p>  
        {% if couleur == 'red' %}{% set couleur = 'blue' %}{% else %}{% set couleur = 'orange' %}{% endif %}   
{% endfor %}