{% if mailsSentByActor %}
{% set couleur = 'red' %}
    {{ include("MailsUserBundle:User:bl_small_user_mailsent.html.twig") }}
{% else %}
    <div class="alert alert-warning">No mail sent found.</div>
{% endif %}