{% extends "MailsMailBundle::layout_admin.html.twig" %}
{% block title %}Utilisateurs{% endblock %}
{% block mailsadmin_body %}

<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">Message flash : {{ flashMessage }}</div>
{% endfor %}

<div class="tab-pane fade in active adminTable" id="users">
    {% if users %}
        <div class="table-responsive">
            {{ include("MailsUserBundle:User:table_user.html.twig") }}
        </div>
        {% else %}
        <div class="alert alert-warning">No users found.</div>
    {% endif %}
        <a href="{{ path('fos_user_registration_register') }}"><u>Créer un nouvel utilisateur</u></a>
</div>
{% endblock %}
