* {
  margin: 0;
  padding: 0; }

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1.1em;
  width: auto;
  color: #3f3f3f;
  font-family: "Raleway", sans-serif;
  background-color: #fff; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a, a:hover, a:active, a:visited, a:focus {
  color: #fff;
  text-decoration: none; }

.animated {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1; }

img.icone, svg {
  fill: #BC1225;
  display: block;
  margin: 0 auto; }

.logo {
  background-color: transparent;
  background-image: url("../images/general/logo.png");
  width: 102px;
  height: 59px;
  background-position: center center;
  background-repeat: no-repeat; }

input {
  color: #BC1225; }

.btn {
  background-color: #BC1225;
  color: #fff;
  margin-right: 1em;
  font-weight: bold;
  font-size: 1.1em; }
  .btn:hover {
    color: #fff;
    -webkit-animation: pulse .7s;
    animation: pulse .7s; }
  .btn:focus {
    color: #fff; }

nav {
  background-color: #BC1225; }

div.sticky-wrapper {
  background-color: #fff; }
  div.sticky-wrapper nav {
    display: none;
    height: 1px;
    z-index: 99;
    color: #fff;
    top: 0;
    width: 100%;
    font-size: 0.95em; }
    div.sticky-wrapper nav svg, div.sticky-wrapper nav img.icone {
      fill: #fff; }
    div.sticky-wrapper nav .container {
      position: relative;
      padding: 10px 13px 10px;
      width: 90%; }
      div.sticky-wrapper nav .container .image {
        height: 55px;
        display: inline-block; }
      div.sticky-wrapper nav .container .content {
        width: 90%;
        display: inline-block;
        margin: 0 auto;
        padding: 15px 13px 15px; }
        div.sticky-wrapper nav .container .content ul {
          float: right; }
          div.sticky-wrapper nav .container .content ul li {
            float: left;
            margin-right: 2em; }
          div.sticky-wrapper nav .container .content ul li:last-child {
            margin-right: 0; }
    div.sticky-wrapper nav .logo {
      margin-top: 0em; }
    div.sticky-wrapper nav .menu-button {
      cursor: pointer;
      display: none;
      width: 130px;
      float: right; }
      div.sticky-wrapper nav .menu-button p {
        display: inline-block;
        margin: 0;
        line-height: 2.5em; }
      div.sticky-wrapper nav .menu-button svg, div.sticky-wrapper nav .menu-button img {
        display: inline-block;
        float: left;
        margin-right: 1em; }

div.sticky-wrapper.is-sticky nav {
  display: block;
  height: 83px; }

.secondTransition, .firstTransition, img.firstTransition, img.secondTransition {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0; }

h2 {
  margin-bottom: 0;
  color: #BC1225;
  text-align: center; }

h3 {
  color: #BC1225; }

p {
  text-align: center; }

p.content_description {
  margin-bottom: 3em;
  text-align: center;
  line-height: 130%;
  font-size: 1.2em; }

section {
  padding: 5em;
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  section:first-child {
    padding-top: 3em; }
  section .container {
    height: 100%; }

.pictures-gallery .item {
  margin: 0.5em; }
  .pictures-gallery .item div.img {
    height: 200px;
    width: 200px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
    background-size: auto 250px;
    background-repeat: no-repeat;
    background-position: center center; }

.partners-logo .item {
  margin: 1em;
  display: block; }
  .partners-logo .item img {
    width: 200px; }

section.header {
  color: #fff;
  background-image: url("../images/general/BackLockedScreen3.jpg"); }
  section.header img {
    position: absolute;
    right: 0;
    bottom: -5em;
    display: block; }
  section.header .slogan {
    font-size: 2.7em;
    font-family: "Open Sans", sans-serif;
    width: 11em;
    line-height: 110%;
    margin-top: 1.3em;
    margin-bottom: 1em; }
  section.header .subtitle {
    font-size: 1.1em;
    margin-top: 1em;
    line-height: 30%; }
  section.header .container {
    width: auto; }

section.items {
  background-color: #fff;
  text-align: center; }
  section.items h2 {
    font-family: "Open Sans", sans-serif; }
  section.items p {
    margin-bottom: 5em; }
  section.items .description {
    margin: 0 auto;
    width: 100%; }
    section.items .description h3 {
      color: #2a2a2a;
      font-size: 2.2em; }
    section.items .description p {
      line-height: 190%; }

section.content_with_pictures_1 {
  background-image: url("../images/general/BackLockedScreen4.jpg"); }

section.content_with_pictures_1, section.content_with_pictures_2 {
  background-color: #fff;
  text-align: center; }
  section.content_with_pictures_1 img.icone, section.content_with_pictures_1 svg, section.content_with_pictures_2 img.icone, section.content_with_pictures_2 svg {
    width: 60px;
    height: 60px; }
  section.content_with_pictures_1 p.content_description, section.content_with_pictures_2 p.content_description {
    margin-bottom: 4em; }
  section.content_with_pictures_1 ul, section.content_with_pictures_2 ul {
    margin-top: 10%; }
    section.content_with_pictures_1 ul li, section.content_with_pictures_2 ul li {
      margin: 5%; }
      section.content_with_pictures_1 ul li p, section.content_with_pictures_2 ul li p {
        font-size: 1.1em;
        height: 5em; }
  section.content_with_pictures_1 .firstPicture, section.content_with_pictures_1 .secondPicture, section.content_with_pictures_2 .firstPicture, section.content_with_pictures_2 .secondPicture {
    z-index: 10;
    left: 0; }
  section.content_with_pictures_1 .firstPicture, section.content_with_pictures_2 .firstPicture {
    position: absolute;
    z-index: 10; }
  section.content_with_pictures_1 .secondPicture, section.content_with_pictures_2 .secondPicture {
    position: relative;
    z-index: 9; }

section.content_with_pictures_1 li p {
  text-align: left; }

section.content_with_pictures_1 svg, section.content_with_pictures_1 img.icone {
  float: left;
  margin: 2.5% 5% 5% auto; }

section.content_with_pictures_1 .firstPicture, section.content_with_pictures_1 .secondPicture {
  top: 7.2em; }

section.content_with_pictures_2 li p {
  text-align: right; }

section.content_with_pictures_2 svg, section.content_with_pictures_2 img.icone {
  float: right;
  margin: 2.5% auto 5% 5%; }

section.content_with_pictures_2 .firstPicture, section.content_with_pictures_2 .secondPicture {
  top: 7em; }

section.content_middle_picture {
  background-image: url("../images/general/BackLockedScreen.jpg");
  background-color: #fff;
  text-align: center; }
  section.content_middle_picture h2 {
    font-family: "Open Sans", sans-serif; }
  section.content_middle_picture h3 {
    margin-bottom: 0; }
  section.content_middle_picture ul {
    margin-top: 12em; }
    section.content_middle_picture ul li.left {
      margin-right: 5%; }
      section.content_middle_picture ul li.left p, section.content_middle_picture ul li.left h3 {
        text-align: right; }
      section.content_middle_picture ul li.left svg, section.content_middle_picture ul li.left img.icone {
        float: right;
        margin-left: 5%; }
    section.content_middle_picture ul li.right {
      margin-left: 5%; }
      section.content_middle_picture ul li.right p, section.content_middle_picture ul li.right h3 {
        text-align: left; }
      section.content_middle_picture ul li.right svg, section.content_middle_picture ul li.right img.icone {
        float: left;
        margin-right: 5%; }
  section.content_middle_picture p {
    font-size: 1.2em;
    margin-bottom: 0; }
  section.content_middle_picture img {
    top: 6em;
    left: 0;
    position: absolute; }

section.gallery_of_pictures #pictures-gallery {
  margin-top: 3em; }
  section.gallery_of_pictures #pictures-gallery div.img {
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
    section.gallery_of_pictures #pictures-gallery div.img:hover {
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8);
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }

section.text_and_dates {
  background-image: url("../images/general/BackLockedScreen2.jpg"); }
  section.text_and_dates p {
    margin-bottom: 5%; }
  section.text_and_dates ul li {
    text-align: center;
    margin-bottom: 2%; }
    section.text_and_dates ul li p {
      margin: 0; }
    section.text_and_dates ul li small {
      color: #BC1225; }

section.newsletter {
  padding-bottom: 0; }

section.newsletter, footer {
  min-height: 0;
  max-height: none;
  height: 27em;
  background-color: #BC1225;
  color: #fff; }
  section.newsletter h2, footer h2 {
    color: #fff; }
  section.newsletter p, footer p {
    color: #fff;
    margin-bottom: 4em; }
  section.newsletter .newsletter-form, footer .newsletter-form {
    width: 19.9em;
    position: relative;
    margin: 0 auto; }
    section.newsletter .newsletter-form input, footer .newsletter-form input {
      border: 0;
      padding: 1em;
      font-size: 1.2em;
      height: 3em;
      padding-left: 1em; }
      section.newsletter .newsletter-form input#email, footer .newsletter-form input#email {
        display: inline-block;
        border-radius: 0.4em 0 0 0.4em;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        float: left; }
      section.newsletter .newsletter-form input#submit, footer .newsletter-form input#submit {
        border-radius: 0 0.4em 0.4em 0;
        line-height: 0em;
        display: block;
        top: 0px;
        right: 0px;
        position: absolute;
        padding-right: 1em;
        background-color: #fff; }

footer {
  background-color: #BC1225;
  height: auto;
  padding-top: 5em;
  padding-bottom: 2em; }
  footer .container {
    padding-top: 0;
    background-color: transparent; }
  footer p {
    margin: 4em;
    line-height: 5em;
    text-align: left;
    margin-bottom: 1em; }
  footer ul {
    margin: 0 auto;
    display: table; }
    footer ul li {
      display: inline-block;
      list-style: none;
      margin-right: 3em; }
      footer ul li svg, footer ul li img.icone {
        width: 67px;
        text-decoration: none;
        fill: #fff; }
    footer ul li:last-child {
      margin-right: 0; }
    footer ul svg:hover, footer ul img.icone {
      -webkit-animation: pulse .7s;
      animation: pulse .7s; }

section.counters p {
  margin-bottom: 1em; }

section.counters svg, section.counters img.icone {
  margin-top: 5em;
  width: 60px;
  height: 60px; }

section.counters h3 {
  text-align: center; }

section.pricing_table {
  padding-bottom: 7em; }
  section.pricing_table ul.table1, section.pricing_table ul.table2, section.pricing_table ul.table3 {
    border: 1px solid #F5F5F5;
    width: 100%;
    height: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s; }
    section.pricing_table ul.table1:hover, section.pricing_table ul.table1:focus, section.pricing_table ul.table1 .tables-hover, section.pricing_table ul.table1:active, section.pricing_table ul.table2:hover, section.pricing_table ul.table2:focus, section.pricing_table ul.table2 .tables-hover, section.pricing_table ul.table2:active, section.pricing_table ul.table3:hover, section.pricing_table ul.table3:focus, section.pricing_table ul.table3 .tables-hover, section.pricing_table ul.table3:active {
      -webkit-user-select: none;
      -webkit-touch-callout: none;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1; }
    section.pricing_table ul.table1 svg, section.pricing_table ul.table1 img.icone, section.pricing_table ul.table2 svg, section.pricing_table ul.table2 img.icone, section.pricing_table ul.table3 svg, section.pricing_table ul.table3 img.icone {
      width: 40px;
      height: 40px;
      margin-top: 0.2em;
      float: left;
      margin-left: 2em; }
    section.pricing_table ul.table1 h3, section.pricing_table ul.table2 h3, section.pricing_table ul.table3 h3 {
      text-align: center;
      padding-top: 2.5em;
      color: #fff;
      margin: 0; }
    section.pricing_table ul.table1 p, section.pricing_table ul.table2 p, section.pricing_table ul.table3 p {
      margin: 0;
      line-height: 2.5em; }
    section.pricing_table ul.table1 .btn, section.pricing_table ul.table2 .btn, section.pricing_table ul.table3 .btn {
      text-align: center;
      display: block;
      margin: 0 auto;
      width: 50%;
      margin-top: 1em;
      margin-bottom: 1.1em; }
    section.pricing_table ul.table1 li, section.pricing_table ul.table2 li, section.pricing_table ul.table3 li {
      display: block;
      width: 100%;
      position: relative;
      background-color: #fff;
      height: 3em;
      margin-top: 2em; }
      section.pricing_table ul.table1 li p, section.pricing_table ul.table2 li p, section.pricing_table ul.table3 li p {
        color: #BC1225; }
    section.pricing_table ul.table1 li:first-child, section.pricing_table ul.table2 li:first-child, section.pricing_table ul.table3 li:first-child {
      margin-top: 0;
      height: auto;
      -webkit-border-radius: 10px 10px 0 0;
      -moz-border-radius: 10px 10px 0 0;
      border-radius: 10px 10px 0 0;
      background-color: #BC1225;
      text-transform: uppercase; }
      section.pricing_table ul.table1 li:first-child h3, section.pricing_table ul.table2 li:first-child h3, section.pricing_table ul.table3 li:first-child h3 {
        font-weight: bold; }
      section.pricing_table ul.table1 li:first-child p, section.pricing_table ul.table2 li:first-child p, section.pricing_table ul.table3 li:first-child p {
        color: #fff;
        padding-bottom: 2.5em;
        line-height: 2em; }
    section.pricing_table ul.table1 li:last-child, section.pricing_table ul.table2 li:last-child, section.pricing_table ul.table3 li:last-child {
      height: auto;
      -webkit-border-radius: 0 0 10px 10px;
      -moz-border-radius: 0 0 10px 10px;
      border-radius: 0 0 10px 10px; }
  section.pricing_table ul.table1 {
    z-index: 9; }
  section.pricing_table ul.table3 {
    z-index: 9; }
  section.pricing_table ul.table2 {
    z-index: 10; }
  section.pricing_table ul.table1, section.pricing_table ul.table3 {
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }

section.partners h2 {
  margin-top: 0em; }

@media only screen and (max-width: 1360px) {
  div.sticky-wrapper nav .container {
    width: 100%; }
    div.sticky-wrapper nav .container .image {
      margin-left: 1em; }
    div.sticky-wrapper nav .container .content {
      width: auto;
      float: right;
      padding: 0; }
      div.sticky-wrapper nav .container .content ul {
        -ms-transform: translateX(250px);
        -webkit-transform: translateX(250px);
        transform: translateX(250px);
        background-color: #a51020;
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 1500px;
        z-index: 999; }
        div.sticky-wrapper nav .container .content ul li {
          margin: 0 auto;
          display: block;
          width: 200px;
          float: none;
          border-bottom: 1px solid #BC1225;
          margin-top: 0.5em;
          padding-bottom: 0.5em; }
        div.sticky-wrapper nav .container .content ul li:last-child {
          margin-right: auto; }
      div.sticky-wrapper nav .container .content .menu-button {
        top: 1em;
        right: 0;
        position: absolute;
        display: block;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
  body.sidebar {
    overflow: hidden; }
    body.sidebar .cache {
      width: 100%;
      height: 100%;
      z-index: 11;
      top: 0;
      left: 0;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.6); }
    body.sidebar nav .container .content ul {
      -ms-transform: translateX(0px);
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    body.sidebar nav .container .content .menu-button {
      margin-right: 14em;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; } }

@media only screen and (max-width: 1200px) {
  section {
    padding: 3em;
    padding-top: 100px; }
    section .container {
      width: 100%; }
  section.header img {
    display: none; }
  section.header .logo {
    margin: 0 auto; }
  section.header .slogan {
    text-align: center;
    line-height: normal;
    width: auto; }
  section.header .subtitle {
    text-align: center;
    line-height: normal; }
  section.header div.secondTransition .btn {
    text-align: center; }
  section.header .buttons {
    margin: 0 auto;
    display: table; }
  section.content_with_pictures_1 .container .col-sm-6, section.content_with_pictures_1 .container .col-md-6, section.content_with_pictures_1 .container .col-lg-6, section.content_with_pictures_2 .container .col-sm-6, section.content_with_pictures_2 .container .col-md-6, section.content_with_pictures_2 .container .col-lg-6 {
    width: 100%; }
    section.content_with_pictures_1 .container .col-sm-6 svg, section.content_with_pictures_1 .container .col-sm-6 img, section.content_with_pictures_1 .container .col-md-6 svg, section.content_with_pictures_1 .container .col-md-6 img, section.content_with_pictures_1 .container .col-lg-6 svg, section.content_with_pictures_1 .container .col-lg-6 img, section.content_with_pictures_2 .container .col-sm-6 svg, section.content_with_pictures_2 .container .col-sm-6 img, section.content_with_pictures_2 .container .col-md-6 svg, section.content_with_pictures_2 .container .col-md-6 img, section.content_with_pictures_2 .container .col-lg-6 svg, section.content_with_pictures_2 .container .col-lg-6 img {
      margin: 0;
      margin-right: 5%; }
    section.content_with_pictures_1 .container .col-sm-6 svg, section.content_with_pictures_1 .container .col-md-6 svg, section.content_with_pictures_1 .container .col-lg-6 svg, section.content_with_pictures_2 .container .col-sm-6 svg, section.content_with_pictures_2 .container .col-md-6 svg, section.content_with_pictures_2 .container .col-lg-6 svg {
      height: 100px; }
    section.content_with_pictures_1 .container .col-sm-6 .firstPicture, section.content_with_pictures_1 .container .col-sm-6 .secondPicture, section.content_with_pictures_1 .container .col-md-6 .firstPicture, section.content_with_pictures_1 .container .col-md-6 .secondPicture, section.content_with_pictures_1 .container .col-lg-6 .firstPicture, section.content_with_pictures_1 .container .col-lg-6 .secondPicture, section.content_with_pictures_2 .container .col-sm-6 .firstPicture, section.content_with_pictures_2 .container .col-sm-6 .secondPicture, section.content_with_pictures_2 .container .col-md-6 .firstPicture, section.content_with_pictures_2 .container .col-md-6 .secondPicture, section.content_with_pictures_2 .container .col-lg-6 .firstPicture, section.content_with_pictures_2 .container .col-lg-6 .secondPicture {
      margin: 0;
      top: 0;
      float: left; }
  section.content_with_pictures_2 .container .col-sm-6 svg, section.content_with_pictures_2 .container .col-md-6 svg, section.content_with_pictures_2 .container .col-lg-6 svg {
    margin-left: 5%;
    margin-right: 0; }
  section.content_with_pictures_2 .container .col-sm-6.col-md-6.col-lg-6.imagesTelephones {
    float: right;
    width: auto; }
  section.content_middle_picture col-sm-4, section.content_middle_picture .col-md-4, section.content_middle_picture .col-lg-4 {
    width: 100%; }
  section.content_middle_picture ul {
    margin-top: 5em; }
  section.content_middle_picture img {
    position: relative;
    margin-top: 5em;
    top: 0; } }

@media only screen and (max-width: 1000px) {
  section.pricing_table .container .col-sm-4 svg, section.pricing_table .container .col-md-4 svg, section.pricing_table .container .col-lg-4 svg {
    margin: 0 auto;
    display: block;
    float: none; }
  section.pricing_table .container .col-sm-4 li, section.pricing_table .container .col-md-4 li, section.pricing_table .container .col-lg-4 li {
    margin-top: 5em; }
    section.pricing_table .container .col-sm-4 li p, section.pricing_table .container .col-md-4 li p, section.pricing_table .container .col-lg-4 li p {
      line-height: normal;
      margin-left: 2em;
      margin-right: 2em; }
  section.pricing_table .container .col-sm-4 a.btn, section.pricing_table .container .col-md-4 a.btn, section.pricing_table .container .col-lg-4 a.btn {
    width: 65%; }
  footer p {
    text-align: center; }
  footer ul li {
    display: block;
    margin-right: 0;
    margin-bottom: 3em; } }

@media only screen and (max-width: 850px) {
  section.header .btn {
    width: 13em;
    margin-top: 2em;
    display: block; }
  section.pricing_table .container .col-sm-4 a.btn, section.pricing_table .container .col-md-4 a.btn, section.pricing_table .container .col-lg-4 a.btn {
    width: 70%; }
  section.content_with_pictures_2, section.content_with_pictures_1 {
    padding-right: 0;
    padding-left: 0; }
    section.content_with_pictures_2 .container .transitionFadeInLeft.secondTransition, section.content_with_pictures_1 .container .transitionFadeInLeft.secondTransition {
      width: 100%; }
    section.content_with_pictures_2 .container .imagesTelephones, section.content_with_pictures_1 .container .imagesTelephones {
      height: 490px; }
    section.content_with_pictures_2 .container .col-sm-6 .firstPicture, section.content_with_pictures_2 .container .col-md-6 .firstPicture, section.content_with_pictures_2 .container .col-lg-6 .firstPicture, section.content_with_pictures_1 .container .col-sm-6 .firstPicture, section.content_with_pictures_1 .container .col-md-6 .firstPicture, section.content_with_pictures_1 .container .col-lg-6 .firstPicture {
      width: 24em; }
    section.content_with_pictures_2 .container .col-sm-6 .secondPicture, section.content_with_pictures_2 .container .col-md-6 .secondPicture, section.content_with_pictures_2 .container .col-lg-6 .secondPicture, section.content_with_pictures_1 .container .col-sm-6 .secondPicture, section.content_with_pictures_1 .container .col-md-6 .secondPicture, section.content_with_pictures_1 .container .col-lg-6 .secondPicture {
      width: 24em; }
    section.content_with_pictures_2 .container .col-sm-6 ul li svg, section.content_with_pictures_2 .container .col-md-6 ul li svg, section.content_with_pictures_2 .container .col-lg-6 ul li svg, section.content_with_pictures_1 .container .col-sm-6 ul li svg, section.content_with_pictures_1 .container .col-md-6 ul li svg, section.content_with_pictures_1 .container .col-lg-6 ul li svg {
      height: 60px;
      margin: 0;
      width: 100%;
      display: block;
      margin-bottom: 1.5em; }
    section.content_with_pictures_2 .container .col-sm-6 ul li p, section.content_with_pictures_2 .container .col-md-6 ul li p, section.content_with_pictures_2 .container .col-lg-6 ul li p, section.content_with_pictures_1 .container .col-sm-6 ul li p, section.content_with_pictures_1 .container .col-md-6 ul li p, section.content_with_pictures_1 .container .col-lg-6 ul li p {
      height: auto;
      margin: 0;
      width: 100%;
      display: block;
      text-align: center;
      margin-bottom: 3em; }
  section.pricing_table ul.table1, section.pricing_table ul.table2, section.pricing_table ul.table3 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; } }

@media only screen and (max-width: 510px) {
  section {
    padding: 0;
    padding-top: 100px;
    padding-bottom: 100px; }
  section.header .slogan {
    width: 100%;
    font-size: 2em; }
  section.header .btn {
    width: 13em;
    margin-top: 2em;
    display: block; }
  nav #menu-button svg {
    margin: 0;
    width: 100%;
    float: right;
    display: block; }
  nav #menu-button p {
    display: none; }
  section.content_with_pictures_2 .container .col-sm-6 .firstPicture, section.content_with_pictures_2 .container .col-md-6 .firstPicture, section.content_with_pictures_2 .container .col-lg-6 .firstPicture, section.content_with_pictures_1 .container .col-sm-6 .firstPicture, section.content_with_pictures_1 .container .col-md-6 .firstPicture, section.content_with_pictures_1 .container .col-lg-6 .firstPicture {
    width: 20em; }
  section.content_with_pictures_2 .container .col-sm-6 .secondPicture, section.content_with_pictures_2 .container .col-md-6 .secondPicture, section.content_with_pictures_2 .container .col-lg-6 .secondPicture, section.content_with_pictures_1 .container .col-sm-6 .secondPicture, section.content_with_pictures_1 .container .col-md-6 .secondPicture, section.content_with_pictures_1 .container .col-lg-6 .secondPicture {
    width: 20.2em; }
  section.content_middle_picture .container .col-sm-4 #telephoneMilieu, section.content_middle_picture .container .col-md-4 #telephoneMilieu, section.content_middle_picture .container .col-lg-4 #telephoneMilieu {
    width: 12em; }
  section.newsletter .newsletter-form {
    width: 20.5em; }
  footer p {
    margin: 0;
    text-align: center;
    font-size: 0.7em; } }

@media only screen and (max-width: 400px) {
  section.items {
    padding-top: 0; }
  section.header {
    padding: 0;
    padding-top: 2.5em;
    padding-bottom: 2.5em; }
    section.header .slogan {
      width: 100%;
      font-size: 2em; }
    section.header .btn {
      font-size: 1em;
      width: 12em;
      margin-top: 2em;
      display: block; }
  section.content_with_pictures_1 .container .imagesTelephones {
    padding: 0;
    right: 3em; }
  section.content_with_pictures_2 .container .imagesTelephones {
    padding: 0;
    left: 1.5em; } }

@media only screen and (max-width: 480px) {
  section {
    background-attachment: scroll; }
  section.header .btn {
    width: auto; }
  nav .logo {
    display: none; }
  body.sidebar nav #menu-button {
    margin-right: 7em !important; }
  body.sidebar nav .content ul {
    width: 150px !important; }
    body.sidebar nav .content ul li {
      width: 100px !important; }
  section.newsletter .newsletter-form {
    font-size: 1em;
    width: 13em; }
    section.newsletter .newsletter-form #email {
      width: 6em; }
    section.newsletter .newsletter-form #submit {
      width: 6em; } }

