{% if allMailreceivedByActor %}
   <a href="{{ path('mails_mailsent_filter_actor', {'id': actor.id}) }}"><u>Filtrer les courriers reçus par <b><i>{{ actor.name | title }}</i></b></u></a>
        <div class="table-responsive">
            {{ include("@contact_mailreceived_views/table_mailreceived_contact.html.twig") }}
        </div>
{% else %}
    <div class="alert alert-warning">Aucun courrier n'a été reçu par cet interlocuteur.</div>
{% endif %} 
{% if app.user and is_granted('ROLE_ADMIN') %}<a href="{{ path('mails_mailreceived_add') }}"><u>Créer un nouveau courrier reçu</u></a>{% endif %}
